@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, lightgreen 96.03%);
  font-family: "Roboto", sans-serif;
}

.container {
  background: #333439;
  color: #f6f6f6;
  margin: 64px;
  box-shadow: 6px 6px 6px #0e1d2f;
  border-radius: 20px;
  padding: 42px;
}

.perfil {
  display: flex;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.foto-perfil {
  border-radius: 500px;
  max-width: 160px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 0.25);
}

.light {
  background: linear-gradient(236.85deg, #375b86 27.26%, lightblue 96.03%);
  
}

.light .container {
  background: #ecf4ff;
  color: #1c1c1c;
}

.light .projetos{
  color: #1c1c1c
}

.light .tema button {
  background: #ecf4ff;
  color: #1c1c1c;
  border: 2px solid #0e1d2f;
}

.tema button {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 16px;
  color: #ffffff;
  background: #1c1c1c;
  border-radius: 100px;
  border: 2px solid #f7f7f7;
  box-sizing: border-box;
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24;
}

.projetos {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: #1c1c1c;
}

.quadrado {
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  margin-top: 24px;
  padding: 24px;
}

.projetos-titulo{
  list-style; none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item{
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

.projetos-item a {
  color: #1c1c1c;
  text-decoration: none;
}